.container{
    border: 4px solid blue;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 30px;
    background-color: aqua;

}
.mini{
    border: 2px solid blue;
    padding: 90px;
    border-radius: 30px;
    background-color: rgb(239, 40, 239);
}
.ti{
    border: 2px solid blue;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(239, 40, 239);
    font-family: monospace;
    font-size: 20px;
}
.but{
    color: white;
    background-color: rgb(37, 158, 37);
    display: block;
    height: 40px;
    width: 140px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 30%;
    

}
.first{
border: 2px solid blue;
width: 200px;
border-radius: 7px;
height: 25px;
}
.last{
    border: 2px solid blue;
    width: 200px;
    border-radius: 7px;
    height: 25px;

}
.email{
    border: 2px solid blue;
    width: 200px;
    border-radius: 7px;
    height: 25px;

}
.pass{
    border: 2px solid blue;
    width: 200px;
    border-radius: 7px;
    height: 25px;

}
.phone{
    border: 2px solid blue;
    width: 200px;
    border-radius: 7px;
    height: 25px;

}
p{
    font-family: monospace;
    font-size: 20px;
}

